:host {
  display: block;
}

.space-diamonds {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.space-diamonds img {
  width: 32px;
  margin-right: 16px;
}

.space-diamonds span {
  font-size: 18px;
  letter-spacing: 2px;
}
