<h1 mat-dialog-title>Inventory</h1>

<mat-dialog-content>

  <main *ngIf="!(empty$ | async)">
    <mat-card *ngFor="let item of (inventory$ | async); trackBy: trackByItemId">
      <mat-card-header>
        <mat-card-title>{{item.name}} (Lv {{item.level}})</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-described-text description="Mining" iconUrl="assets/shovel.png">+{{item.mining}}</app-described-text>
        <app-described-text description="Damage" iconUrl="assets/attack.png">+{{item.attack}}</app-described-text>
        <app-described-text description="Defense" iconUrl="assets/shield.png">+{{item.defense}}</app-described-text>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="destroyItem(item.id)">
          Destroy
        </button>
        <button mat-flat-button (click)="upgradeItem(item.id)" color="primary">
          Upgrade for {{item.cost}} SD
        </button>
      </mat-card-actions>
    </mat-card>
  </main>

  <div class="empty-inventory" *ngIf="empty$ | async">
    <mat-icon>sentiment_dissatisfied</mat-icon>
    <span>You do not have any items</span>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="tokens">
    <button mat-flat-button color="primary" (click)="buyTokens()">
      Buy Space Diamonds
    </button>
    <app-tokens [tokens]="tokens$ | async"></app-tokens>
  </div>

  <button mat-flat-button mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
