<h1 mat-dialog-title>Auction House</h1>

<mat-dialog-content>

  <mat-tab-group>

    <mat-tab label="Auctions">

      <main>
        <table mat-table [dataSource]="dataSource">
          <mat-text-column name="itemId" headerText="ID"></mat-text-column>
          <mat-text-column name="itemName" headerText="Name"></mat-text-column>
          <mat-text-column name="price" headerText="Price"></mat-text-column>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="width: 50px">Actions</th>
            <td mat-cell *matCellDef="let auction">
              <button mat-flat-button color="primary">Buy</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </main>

    </mat-tab>

    <mat-tab label="Create Auction">

      <main>

        <mat-form-field class="contract-address" appearance="fill">
          <mat-label>Item</mat-label>
          <mat-select>
            <mat-option>Shiny Space Rock</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="contract-address" appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <footer>
          <button mat-flat-button color="primary">
            <mat-icon>price_check</mat-icon>
            Create Auction
          </button>
        </footer>

      </main>

    </mat-tab>

  </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
