:host {
  display: block;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

main {
  display: flex;
  padding: 24px;
  align-items: center;
}

.astronaut-ranking {
  font-size: 28px;
  margin-right: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.astronaut-ranking small {
  font-size: 12px;
}

.astronaut-info {
  display: flex;
  flex-grow: 1;
}

.astronaut-info > * {
  margin: 12px;
}

mat-progress-bar {
  height: 10px;
}
