<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="selectedPlanet != null">
    <app-planet-info [planet]="selectedPlanet"
                     (close)="selectedPlanet = null">
    </app-planet-info>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-planet *ngFor="let planet of cryptoverse"
                [planet]="planet"
                [class.selected]="planet.id === selectedPlanet?.id"
                (click)="selectPlanet(planet)">
    </app-planet>

  </mat-sidenav-content>

</mat-sidenav-container>
