<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="selectedPlanet != null">
    <app-planet-info [planet]="selectedPlanet"
                     (close)="selectedPlanet = null">
    </app-planet-info>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-planet *ngFor="let planet of (cryptoverse$ | async)"
                [planet]="planet"
                [class.selected]="planet.id === selectedPlanet?.id"
                (click)="selectPlanet(planet)">
    </app-planet>

    <div *ngIf="!selectedPlanet" class="notes" @slideOut>
      <h4 class="no-margin">Welcome back commander</h4>
      Click on one of the planets to start your exploration 🚀
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
