:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

app-planet {
  margin: 80px;
  transition-property: transform;
  transition-duration: 500ms;
}

app-planet.selected {
  transform: scale(1.5);
}

mat-sidenav-content {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  mat-sidenav-content {
    flex-direction: column;
  }
}
