section {
  display: flex;
  flex-direction: column;
}

section p {
  margin-top: 48px;
  margin-bottom: 48px;
}

section mat-form-field {
  max-width: 400px;
  margin-left: 16px;
  margin-right: 16px;
}

footer {
  display: flex;
  justify-content: flex-end;
}
