<h1 mat-dialog-title>Admin Settings</h1>

<mat-dialog-content>

  <mat-tab-group>
    <mat-tab label="Add new Item">
      <section [formGroup]="itemFormGroup">

        <p>
          Use this form to create a completely new item type. Players can buy those items and upgrade them to their
          will. But be careful to not make them too powerful or too weak. Players will abuse this.
        </p>

        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="itemName" placeholder="Spacesword">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mining power</mat-label>
          <input matInput formControlName="itemMining">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Attack power</mat-label>
          <input matInput formControlName="itemAttack">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Defense power</mat-label>
          <input matInput formControlName="itemDefense">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cost</mat-label>
          <input matInput formControlName="itemCost">
        </mat-form-field>

      </section>

      <footer>
        <button mat-flat-button color="primary" [disabled]="itemFormGroup.invalid" (click)="createItem()">
          <mat-icon>add</mat-icon>
          Create Item
        </button>
      </footer>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
