:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  height: 100%;
  overflow-x: hidden;
}

header {
  margin-bottom: 46px;
}

.astronaut-properties {
  margin-top: 24px;
  margin-bottom: 24px;
}

main {
  height: 100%;
  overflow-y: scroll;
}

main * {
  width: 100%;
}

section {
  margin-bottom: 48px;
}

footer > * {
  width: 100%;
}

footer mat-divider {
  margin-bottom: 32px;
}
