<header class="title">
  <h1 class="no-margin">Hey there</h1>
  <small>I am you, but in space ... huiii</small>
</header>

<header class="sub-header">
  <mat-divider></mat-divider>
  <div class="astronaut-properties">
    <mat-chip-list>
      <mat-chip color="primary" selected>Level {{me?.level}}</mat-chip>
    </mat-chip-list>
  </div>
  <mat-divider></mat-divider>
</header>

<main>

  <section>
    <p>
      Try to build an empire by constantly exploring planets and mining their resources. Some of those uncanny and
      newly explored planets really seem to be quite lucrative according to our most recent scans...
    </p>
    <button mat-flat-button color="primary" [routerLink]="['/planets']">
      Let's explore some untouched planets!
    </button>
  </section>

  <section>
    <p>
      ... or become one of those filthy space pirates that attack other astronauts and engineers to steal their money.
      This might seem a bit unfair, but hey, it's not your fault that they don't protect their space stones better.
    </p>
    <button mat-flat-button color="primary">
      Arrr ... or something like that, I am ready!
    </button>
  </section>

</main>

<footer>
  <mat-divider></mat-divider>
  <button mat-flat-button color="primary" class="margin-bottom">
    <mat-icon>inventory</mat-icon>
    Open Inventory
  </button>
  <button mat-flat-button color="primary" (click)="increaseLevel()">
    <mat-icon>arrow_upward</mat-icon>
    Increase Level
  </button>
</footer>
