/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: black;
  color: white;
}

body {
  margin: 0;
  font-family: 'lato', sans-serif !important;
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 6px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(170, 170, 170, 0.8);
  border-radius: 20px;
}

.commander-header-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 32px;
  background: rgba(40, 55, 64, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 12px;
}
